$displays: (
  flex: flex,
  hidden: none,
  block: block,
  grid: grid,
  inline-flex: inline-flex,
);

@each $breakpoint in map-keys($breakpoints) {
  $bp-sort: breakpoint-infix($breakpoint);
  @include breakpoint($breakpoint) {
    @each $prop, $value in $displays {
      .#{$bp-sort}#{$prop} {
        display: $value;
      }
    }
  }
}
