$default-height-width: 4px;

$height-widths: (
  full: 100%,
  14: $default-height-width * 14,
  20: $default-height-width * 20,
);

@each $prop, $value in $height-widths {
  .h-#{$prop} {
    height: $value;
  }

  .w-#{$prop} {
    width: $value;
  }
}
