$default-line-height: 4px;

$line-heights: (
  5: $default-line-height * 5,
  6: $default-line-height * 6,
);

@each $prop, $value in $line-heights {
  .leading-#{$prop} {
    line-height: $value;
  }
}
