.card-aspect-ratio {
  position: relative;
}

.card-aspect-ratio__target {
  @include inset-full;

  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-aspect-ratio--56 {
  padding-bottom: 56%;
}

.card-aspect-ratio--70 {
  padding-bottom: 70%;
}

.card-meta--uplifted {
  transform: translateY(-50%);
  margin-bottom: -4rem;
}

.card__image-count {
  position: absolute;
  top: 0;
  left: 0;
  background-color: $gray-900;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 0 8px;
  z-index: 10;
}

.card__image-tag {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 10;
}

.card-group--overflowed {
  @include breakpoint(sm) {
    overflow-x: auto;
    display: flex;
    column-gap: 24px;

    .card {
      width: 20rem;
      flex-shrink: 0;
    }
  }
}

.horizontal-card {
  @include breakpoint(lg) {
    padding-bottom: 0;
    display: flex;
    width: 250px;

    .card-aspect-ratio__target {
      position: static;
    }
  }
}
