.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  padding: 2px 8px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}

.tag--primary {
  color: $primary;
  background-color: $primary-lightest;
}

.tag--lg {
  padding: 6px 14px;
  font-size: 14px;
}
