// gray
$gray-100: #f1f5f9;
$gray-200: #e2e8f0;
$gray-300: #d4d4d8;
$gray-400: #a1a1aa;
$gray-500: #888888;
$gray-600: #475569;
$gray-800: #383838;
$gray-900: #18181b;
// primary
$primary-lightest: #fce7f3;
$primary: #d35266;
