@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../../assets/fonts/HelveticaNeue-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/Gotham-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

$font-family-default: HelveticaNeue, system-ui, -apple-system;
$header-font-family: Gotham, system-ui, -apple-system;
